In [70]:
import math
import time
import requests
import numpy as np
import pandas as pd

lime = "https://data.lime.bike/api/partners/v1/gbfs/seattle/free_bike_status.json"
link = "https://wrangler-mds-production.herokuapp.com/gbfs/Seattle,%20WA/free_bike_status.json"
wheels = "https://seattle-gbfs.getwheelsapp.com/free_bike_status.json"

import json

In [71]:
lime_json = requests.get(lime)
#lime_json.json()

In [3]:
def get_status():
    print('getting status...')
    lime_json = requests.get(lime).text
    link_json = requests.get(link).text
    wheels_json = requests.get(wheels).text
    
    timestamp_lime = pd.read_json(lime_json)['last_updated'][0]
    data_lime = pd.DataFrame(pd.read_json(lime_json)['data'][0])
    data_lime.insert(1,'timestamp',timestamp_lime)
    data_lime.insert(0,'company','lime')
    timestamp_link = pd.read_json(link_json)['last_updated'][0]
    data_link = pd.DataFrame(pd.read_json(link_json)['data'][0])
    data_link.insert(1,'timestamp',timestamp_link)
    data_link.insert(0,'company','link')
    timestamp_wheels = pd.read_json(wheels_json)['last_updated'][0]
    data_wheels = pd.DataFrame(pd.read_json(wheels_json)['data'][0])
    data_wheels.insert(1,'timestamp',timestamp_wheels)
    data_wheels.insert(0,'company','wheels')

    frames = [data_lime, data_link, data_wheels]
    times = [timestamp_lime, timestamp_link, timestamp_wheels]
    return frames, times

In [34]:
lime_json = requests.get(lime).json()

link_json = requests.get(link).json()
data_json = link_json['data']
time_json = {'timestamp': link_json['last_updated']}
time.sleep(30)
link_json = requests.get(link).json()
data_json.update(link_json['data'])
time_json.update({'timestamp': link_json['last_updated']})
time_json=json.dumps(time_json)
#data_json

In [93]:
(60*60)*8/30

960.0

In [94]:
960*30./(60*60)

8.0

In [81]:
import io
import json
import os
import math
import time
import requests
import numpy as np
import pandas as pd

def startupCheck(PATH='./', jsonname='test.json', datastart={}):
    if os.path.isfile(PATH) and os.access(PATH, os.R_OK):
        # checks if file exists
        print ("File exists and is readable")
    else:
        print ("Creating file...")
        with io.open(os.path.join(PATH, jsonname), 'w') as db_file:
            db_file.write(json.dumps(datastart))
            
            
if __name__ == "__main__":
    lime = "https://data.lime.bike/api/partners/v1/gbfs/seattle/free_bike_status.json"
    link = "https://wrangler-mds-production.herokuapp.com/gbfs/Seattle,%20WA/free_bike_status.json"
    wheels = "https://seattle-gbfs.getwheelsapp.com/free_bike_status.json"
    link_json = requests.get(link).json()
    link_json['company']='link'
    lime_json = requests.get(lime).json()
    lime_json['company']='lime'
    wheels_json = requests.get(wheels).json()
    wheels_json['company']='wheels'
    all_data={'alldata': [link_json, lime_json, wheels_json]}
    startupCheck(jsonname='test2.json', datastart=all_data)

    for i in range(4):
        time.sleep(30)
        link_json = requests.get(link).json()
        link_json['company']='link'
        lime_json = requests.get(lime).json()
        lime_json['company']='lime'
        wheels_json = requests.get(wheels).json()
        wheels_json['company']='wheels'
        with open('test2.json','r') as file:
            # First we load existing data into a dict.
            file_data = json.load(file)
        
        file_data['alldata'].append(lime_json)
        file_data['alldata'].append(link_json)
        file_data['alldata'].append(wheels_json)
            ##print(file_data)
        with open('test2.json','w') as file:
            json.dump(file_data,file)

Creating file...

In [77]:
len(file_data['alldata'])

2

In [40]:
startupCheck(jsonname='test.json')

Either file is missing or is not readable, creating file...

In [65]:
fd={'last_updated': 1600, 'data':{'bikes':[], 'scooters':[]}}
fd_={'last_updated': 1601, 'data':{'bikes':[], 'scooters':[]}}
fd['company']='link'
fd_['company']='lime'
t={'all data': [fd]}
startupCheck(jsonname='test2.json', datastart=t)

Either file is missing or is not readable, creating file...

In [66]:
with open('test2.json','r+') as file:
    # First we load existing data into a dict.
    file_data = json.load(file)
    file_data['all data'].append(fd_)
    print(file_data)
    json.dump(file_data,file)

{'all data': [{'last_updated': 1600, 'data': {'bikes': [], 'scooters': []}, 'company': 'link'}, {'last_updated': 1601, 'data': {'bikes': [], 'scooters': []}, 'company': 'lime'}]}

{}

In [44]:
#data_json['data']
#link_json
# function to add to JSON
def write_json(new_data, filename='data.json'):
    with open(filename,'r+') as file:
          # First we load existing data into a dict.
        file_data = json.load(file)
        # Join new_data with file_data inside emp_details
        file_data.update(link_json)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file, indent = 4)

write_json(link_json, filename='test.json')

In [45]:
link_json = requests.get(link).json()
write_json(link_json, filename='test.json')

In [4]:
frames_new, times_new = get_status()
data_new = pd.concat(frames_new, ignore_index=True)
data = data_new

for i in range(480):
    times_old = times_new
    frames_new, times_new = get_status()
#     print(times_new)
    if times_new[0] != times_old[0]:
        #print('adding new lime data')
        data = pd.concat([data, frames_new[0]], ignore_index=True)
    if times_new[1] != times_old[1]:
        #print('adding new link data')
        data = pd.concat([data, frames_new[1]], ignore_index=True)
    if times_new[2] != times_old[2]:
        #print('adding new wheels data')
        data = pd.concat([data, frames_new[2]], ignore_index=True)
    print(f'{data.shape[0]} rows')
    time.sleep(30)

getting status...
getting status...
6903 rows

KeyboardInterrupt:

In [59]:
#link_json

In [5]:
print(data.head)

<bound method NDFrame.head of      company                               bike_id   timestamp      lat  \
0       lime  47a00a6d-b0f3-4de6-b684-306e23e5eb4e  1626464967  47.5069
1       lime  955d53a2-66b7-454b-951d-1e4d96494e19  1626464967  47.5097
2       lime  88328454-1f23-4a3f-8715-5dbac99e1504  1626464967  47.5124
3       lime  05db4f25-0383-456e-bf58-8be583ec23f9  1626464967   47.516
4       lime  089a4340-d7ef-4a4c-a581-029e8584fd62  1626464967  47.5508
...      ...                                   ...         ...      ...
6898  wheels  13e4efc4-0e38-4808-a47a-edac5075f804  1626464971  47.6205
6899  wheels  09d8e84c-bb2e-47d3-baeb-3b1472c7abc6  1626464971  47.6309
6900  wheels  e5d429a5-fab9-40ad-8ca7-262285b312f4  1626464971  47.6323
6901  wheels  e79cccf6-66b2-40d5-a4ba-d57c9d151a90  1626464971  47.6907
6902  wheels  631115f3-584c-44b5-beee-a432ad682348  1626464971  47.6162

            lon  is_reserved  is_disabled vehicle_type  vehicle_type_id
0     -122.2489            0            0         bike              NaN
1       -122.25            0            0         bike              NaN
2     -122.2518            0            0         bike              NaN
3     -122.2572            0            0         bike              NaN
4     -122.2572            0            0         bike              NaN
...         ...          ...          ...          ...              ...
6898    -122.34            0            1          NaN              NaN
6899   -122.325            0            0          NaN              NaN
6900   -122.372            0            0          NaN              NaN
6901   -122.356            0            0          NaN              NaN
6902   -122.331            0            1          NaN              NaN

[6903 rows x 9 columns]>

In [6]:
data.to_csv('data/scooterdata20210716.csv', index=False)

In [7]:
idnum = data['bike_id'][3020]
data[data['bike_id']==idnum]

,company,bike_id,timestamp,lat,lon,is_reserved,is_disabled,vehicle_type,vehicle_type_id
3020,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626455134,47.6352,-122.342,0,0,NaN,1.0
5830,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626455135,47.6352,-122.342,0,0,NaN,1.0
8632,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626455167,47.6352,-122.342,0,0,NaN,1.0
11430,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626455198,47.6352,-122.342,0,0,NaN,1.0
14232,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626455230,47.6352,-122.342,0,0,NaN,1.0
...,...,...,...,...,...,...,...,...,...
850950,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626464360,47.6353,-122.342,0,0,NaN,1.0
853776,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626464393,47.6353,-122.342,0,0,NaN,1.0
856602,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626464426,47.6353,-122.342,0,0,NaN,1.0
859427,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626464459,47.6353,-122.342,0,0,NaN,1.0
862256,link,4beff7c1-4289-4cd9-a2b1-094d64a39fe7,1626464492,47.6353,-122.342,0,0,NaN,1.0